body {
  margin: 0;
  background-image: url("../images/stone3.jpg");
  height: 100vh;
  color: #b4b4b4;
  font-family: "Bebas Neue", cursive;
}

.gradient-container {
  /*margin-top: 320px;
  padding-top: 30px;
  padding-bottom: 10px;*/
  font-size: 28px;
  padding-top: 30px;
  padding-bottom: 280px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  transition-duration: 2s;
  transition-delay: 0.5s;
}

.gradient-gold {
  /* background: linear-gradient(339deg, rgb(255 148 65), rgb(84 255 203)),
    linear-gradient(3deg, rgb(57 0 255), rgb(255 208 62)); */
  background: linear-gradient(339deg, rgb(255 111 0), rgb(240 255 250)),
    linear-gradient(3deg, rgb(57 0 255), rgb(255 208 62));
  background-size: 120% 140%;
  background-blend-mode: overlay;
  animation: gradientgold 7s ease infinite;
}

.gradient-green {
  background: linear-gradient(320deg, rgb(43, 255, 124), transparent 70%),
    linear-gradient(120deg, rgb(66, 185, 194), transparent 120%),
    linear-gradient(230deg, rgb(195, 255, 54), transparent 70%),
    linear-gradient(80deg, rgb(56, 124, 56), transparent 70%);
  background-size: 300% 200%;
  background-blend-mode: saturation;
  animation: gradient 12s ease infinite;
}

.gradient-red {
  background: linear-gradient(320deg, rgb(255 60 119), transparent 70%),
    linear-gradient(120deg, rgb(255 0 0), transparent 120%),
    linear-gradient(230deg, rgb(239, 197, 142), transparent 70%),
    linear-gradient(80deg, rgb(0 0 0), transparent 70%);
  background-size: 300% 200%;
  background-blend-mode: hard-light;
  animation: gradient 12s ease infinite;
}

.opacity-off {
  opacity: 0;
}

.opacity-on {
  opacity: 1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientgold {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 00%;
  }
}

.logo-container {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  position: fixed;
  animation-name: hidelogo;
  animation-duration: 0.2s;
  animation-delay: 2.3s;
  animation-fill-mode: forwards;
}

.container-centered-y {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
}

.container-centered {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.container-shadow {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(0deg, rgba(0 0 0 /40%), rgba(255 255 255 /20%));
}

.container-terminal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgb(6 39 29);
}

.container-terminal-shadow {
  z-index: 5;
  width: 100vw;
  height: 100vh;
  position: fixed;
  box-shadow: inset 0px 0px 120px rgb(0, 1, 22, 0.7);
}

.card-container {
  z-index: 4;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  perspective-origin: 0px 200px;
}

.card-container img {
  width: 200px;
  border-radius: 6px;
  animation-name: fadein, widthincrease;
  animation-duration: 0.4s, 0.4s;
  animation-delay: 0s, 1.6s;
  animation-fill-mode: backwards;
  animation-timing-function: ease;
  transition-duration: 0.5s;
}

.card-zoom-in img {
  width: 90vw;
  border-radius: 12px;
  box-shadow: 1px 1px 45px rgba(0, 0, 0, 1) !important;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  /*margin-top: 40px;*/
  margin-top: 75px;
}

.card-back {
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-front {
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card-back img {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.card-front img {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.card-flip {
  transform-style: preserve-3d;
  animation-name: flip, tilt;
  animation-iteration-count: 1, infinite;
  animation-duration: 0.4s, 6s;
  animation-delay: 1.6s, 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease, linear;
}

.card-flip img {
}

.logo-background {
  position: fixed;
  margin-left: 0vw;
  width: 200vw;
  height: 400vh;
  transform: rotate(20deg);
  animation-name: slideout;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.lb-1 {
  background: #272727;
  animation-delay: 1.7s;
}

.lb-2 {
  background: #e0ba0d;
  animation-delay: 1.9s;
}

.lb-3 {
  background: #b6b6b6;
  animation-delay: 2s;
}

.lb-4 {
  background: #400cce;
  animation-delay: 2.1s;
}

.lb-5 {
  background: #0cce7d;
  animation-delay: 2.2s;
}

.logo {
}

.logo img {
  width: 101px;
  height: 96px;
  animation-name: slidein, expand;
  animation-duration: 0.4s, 0.4s;
  animation-delay: 0s, 1.5s;
  animation-fill-mode: forwards;
}

.logo-link-container {
  z-index: 6;
  position: fixed;
  bottom: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.logo-link img {
  width: 50px;
  height: 48px;
}

.stats {
  z-index: 2;
  /* margin-top: 410px; */
  margin-top: 340px;
}

.stats-line {
  display: flex;
  width: 200px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  transition-duration: 0.4s;
}

.stats-thin {
}

.stats-bold {
  text-shadow: 1px 1px 2px rgb(0 0 0 / 80%);
}

.help {
  width: 90vw;
  margin-top: 20px;
  margin-bottom: 120px;
}

.help-title {
  padding: 40px;
  text-align: center;
}

.help-line {
  font-family: "Courier New", Courier, monospace;
  transition-duration: 0.4s;
}

.story {
  color: rgb(4 190 82);
  font-weight: 700;
  z-index: 4;
  width: 90vw;
  margin-top: 20px;
  margin-bottom: 120px;
}

.story-title {
  font-family: "Courier New", Courier, monospace;
}

.story-line {
}

.story-pointer {
  animation: pointeranimation 1.2s ease infinite;
}

.story-p {
  font-family: "Courier New", Courier, monospace;
}

.remix {
  font-size: 16px;
}

.gold {
  color: #cea141;
}

.silver {
  color: #dadada;
}

.red {
  color: #af2929;
}

.green {
  color: #74af16;
}

.blue {
  color: #2789e6;
}

.black {
  color: #222222;
}

.pink {
  color: #e61d92;
}

.button-list {
  z-index: 2;
  display: flex;
  flex-flow: column;
}

.button {
  padding: 10px 15px 8px 15px;
  text-align: center;
  width: 100px;
  color: #fcfcfc;
  margin-top: 20px;
  letter-spacing: 1px;
  border-radius: 2px;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 40%),
    inset 1px 1px 1px rgb(255 255 255 / 50%);
}

.button:hover {
  box-shadow: 1px 1px 5px rgb(0 0 0 / 40%),
    inset -1px -1px 2px rgb(255 255 255 / 50%);
}

.red-bckg {
  background: #dd3f17;
}

.gray-bckg {
  background: #646464;
}

@keyframes slidein {
  from {
    margin-left: 100vw;
    height: 101px;
    width: 300px;
  }

  60% {
    margin-left: -10vw;
    height: 101px;
    width: 60px;
  }

  to {
    margin-left: 0vw;
    height: 101px;
    width: 98px;
  }
}

@keyframes expand {
  from {
    filter: blur(0px);
    height: 101px;
    width: 96px;
    transform: rotate(0deg);
    opacity: 1;
  }

  90% {
    filter: blur(5px);
    height: 1400px;
    width: 1388px;
    transform: rotate(220deg);
    opacity: 0;
  }

  to {
    height: 101px;
    width: 96px;
    transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes slideout {
  from {
    margin-left: 0vw;
  }

  to {
    margin-left: -600vw;
  }
}

@keyframes hidelogo {
  from {
    height: 100vh;
  }

  to {
    height: 0vh;
  }
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

@keyframes tilt {
  from {
    transform: rotateY(180deg);
  }

  25% {
    transform: rotateY(186deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  75% {
    transform: rotateY(174deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

@keyframes widthincrease {
  from {
    width: 160px;
  }

  to {
    width: 200px;
  }
}

@keyframes fadein {
  from {
    margin-top: 60px;
    width: 60px;
    opacity: 0;
  }

  to {
    margin-top: 0px;
    width: 160px;
    opacity: 1;
  }
}

@keyframes pointeranimation {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
